@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

/*mobile*/










/*tablet*/
@media (min-width: 768px){
  .txt {
    width: 50%;
    font-size: 40px;
  }

  .imgMulher {
    width: 50%;
    transform: translateX(20%);
  }
}



/*desktop*/
@media (min-width: 1024px){
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  text-align: center;
  margin-top: 350px;
  font-size: 30px;

  p{
    font-size: 26px;
  }
}

p {
  font-size: 18px;
}


#img {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.imgMulher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  width: 35%;
  transform: translateX(10%);
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 5%;
}

#agenda {
    transform: translateY(150px);
    display: grid;
    place-items: center;
    background-image: linear-gradient(to top right, #213a58, #213a58);
   
}

nav {
  background-color: #1b2836;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
  inset: 0 0 auto 0;
}

.nav-links {
  display: flex;
  gap: 200px;
  font-size: 18px;
  color: rgb(255, 245, 245);
}

.link a {
  text-decoration: none;
  position: relative;
  padding-bottom: 0.5rem;
  color: rgb(255, 255, 255);
}


.cor {
  color: orange;
}

body {
  background-image: linear-gradient(to top right, #213a58, #58849e, #213a58);
  font-family: Quicksand,
  sans-serif;
}

.titulo {
  font-size: 18px;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
  margin-top: 150px;
  color:  rgb(255, 255, 255);
 
}

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: auto;
  border-radius:15px;
  background-color: #497188;
  width: 27%;
  height: auto;
}

input {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  width: 60%;
  margin-bottom: 15px;
}

#nome {
  padding: 25px 15px 15px 20px;
}

#contato {
  padding: 10px 15px 15px 20px;
}

#botoes {
  padding: 20px 15px 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#enviar {
  border-radius: 5px;
  background-color: #599d9c;
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

#limpar {
  border-radius: 5px;
  background-color: #599d9c;
  color: white;
  font-size: 18px;
  margin-left: 20px;  
}

li:hover {
  border-bottom: 2px solid orange;

}
a:hover {
  color: orange;
}
button:hover {
  background-color: orange;
  cursor: pointer;
}
}