body {
    background-color: #F4F4F4;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login-box {
    background-color: white;
    width: 340px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    display: grid;
    gap: 16px;
}

form{
    display: grid;
    gap: 8px;
}

h2{
    color: #333;
    text-align: center;
}

.login-box form input{
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.login-box form input:focus{
  border-color: #004853;  
}

.login-box form input[type="submit"]{
 background-color: #004853;
 color: #ffffff;
 font-size: 16px;
 border:none;
}

login-box form input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.9;
}

a{
   font-size: 12px;
   text-align: center;
   text-decoration: none;
   color: #333;
}

a:houver{
    text-decoration: underline;
}